<nav class="bg-white shadow-xl">
  <ul class="flex space-x-16 px-14 py-7 items-center justify-between">
    <li class="flex items-center space-x-3">
      <span class="bg-blue-600 rounded-full w-10 h-10 flex items-center justify-center shadow-lg">
        <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" stroke-width="0.5" viewBox="0 0 24 24">
          <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="none"/>
          <circle cx="9" cy="10" r="1" fill="currentColor"/>
          <circle cx="15" cy="10" r="1" fill="currentColor"/>
          <path d="M9 15c1.5 1 4.5 1 6 0" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"/>
        </svg>
      </span>
      <span class="text-3xl font-bold text-blue-700 tracking-widest drop-shadow-lg">Invoice Reader</span>
    </li>

    <li>
      <ul class="flex row gap-10">
        <li>
          <a routerLink="/entry"
             routerLinkActive="bg-blue-200 text-blue-800"
             class="text-gray-700 hover:text-blue-700 transition-colors font-semibold px-5 py-2 rounded-xl hover:bg-blue-100 duration-200 shadow-sm">Data
            Entry</a>
        </li>
        <li>
          <a routerLink="/models"
             routerLinkActive="bg-blue-200 text-blue-800"
             class="text-gray-700 hover:text-blue-700 transition-colors font-semibold px-5 py-2 rounded-xl hover:bg-blue-100 duration-200 shadow-sm">Model
            Info</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
